In [1]:
# import required packages

import numpy as np
import pandas as pd

In [2]:
import xgboost as xgb

In [3]:
churn_df = pd.read_csv('analysis_data.csv')

In [4]:
churn_df.head()

,Avg_actual_amount_paid,Avg_payment_plan_days,Avg_plan_list_price,age,count_201609,count_201610,count_201611,count_201612,count_201701,count_201702,...,total_secs_mean_201611,total_secs_mean_201612,total_secs_mean_201701,total_secs_mean_201702,total_secs_std_201609,total_secs_std_201610,total_secs_std_201611,total_secs_std_201612,total_secs_std_201701,total_secs_std_201702
0,99.0,30.0,99.0,-1.0,0.0,0.0,15.0,31.0,30.0,27.0,...,9911.204867,8284.258194,5262.289233,5797.553963,0.000000,0.000000,3916.423407,3571.103286,2795.175236,3140.583214
1,149.0,30.0,149.0,26.0,28.0,30.0,29.0,31.0,31.0,28.0,...,4597.857276,4999.303129,6390.492903,6750.280250,4516.683608,7447.938298,5116.994299,4590.062408,6091.693529,6215.479614
2,149.0,30.0,149.0,-1.0,18.0,17.0,17.0,24.0,27.0,20.0,...,17024.890647,7045.274708,7991.005037,6188.441950,5605.206095,5485.529613,14349.081882,6425.206308,5002.213778,4963.076134
3,149.0,30.0,149.0,21.0,27.0,30.0,26.0,26.0,27.0,25.0,...,4976.264538,5106.366500,3927.523778,3154.527520,7119.379358,3165.379475,4144.676241,4489.347430,3485.852596,2823.502787
4,149.0,30.0,149.0,32.0,25.0,22.0,19.0,18.0,27.0,18.0,...,1548.955474,3014.203278,1916.974556,2734.397056,962.563581,1712.293566,1065.911718,2321.022431,1268.788282,3461.588985

In [9]:
churn_df.describe()

,Avg_actual_amount_paid,Avg_payment_plan_days,Avg_plan_list_price,age,count_201609,count_201610,count_201611,count_201612,count_201701,count_201702,...,total_secs_mean_201611,total_secs_mean_201612,total_secs_mean_201701,total_secs_mean_201702,total_secs_std_201609,total_secs_std_201610,total_secs_std_201611,total_secs_std_201612,total_secs_std_201701,total_secs_std_201702
count,810078.000000,810078.000000,810078.000000,810058.000000,810078.000000,810078.000000,810078.000000,810078.000000,810078.000000,810078.000000,...,8.100780e+05,810078.000000,810078.000000,810078.000000,810078.000000,810078.000000,8.100780e+05,810078.000000,8.100780e+05,810078.000000
mean,148.279001,33.822303,148.627093,12.987312,13.977840,15.160499,15.153353,16.216662,16.476047,14.536304,...,5.754861e+03,5942.487741,6252.296328,5946.289955,3902.633903,4023.095228,4.098705e+03,4292.290785,4.684551e+03,4327.375289
std,131.609932,30.747852,131.563776,16.477445,10.514483,10.901549,10.519040,10.598171,10.028080,9.287809,...,6.525040e+03,6430.524210,6491.556721,6505.958403,4461.169620,4166.973807,4.893077e+03,4469.976150,5.061351e+03,4667.136657
min,0.000000,1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,99.000000,30.000000,99.000000,-1.000000,3.000000,4.000000,5.000000,6.000000,8.000000,6.000000,...,2.046299e+03,2320.860667,2716.270569,2389.390933,945.906628,1240.562589,1.386308e+03,1671.638918,2.057646e+03,1702.359327
50%,149.000000,30.000000,149.000000,-1.000000,14.000000,16.000000,16.000000,17.000000,17.000000,15.000000,...,4.252032e+03,4420.685260,4751.405110,4384.290575,3139.388791,3290.236155,3.332664e+03,3515.280256,3.890942e+03,3497.262597
75%,149.000000,30.000000,149.000000,27.000000,24.000000,26.000000,25.000000,26.000000,26.000000,23.000000,...,7.324418e+03,7450.111862,7724.611519,7314.250658,5605.838281,5738.819619,5.780384e+03,5914.360147,6.329177e+03,5925.441332
max,2000.000000,450.000000,2000.000000,100.000000,30.000000,31.000000,30.000000,31.000000,31.000000,28.000000,...,1.213649e+06,612656.797000,893007.875000,924255.887000,856074.844508,523968.582862,2.101390e+06,763288.900771,1.366346e+06,641167.068454

In [12]:
for i in churn_df.columns:
    print(i)

Avg_actual_amount_paid
Avg_payment_plan_days
Avg_plan_list_price
age
count_201609
count_201610
count_201611
count_201612
count_201701
count_201702
gender
is_churn
latest_actual_amount_paid
latest_is_auto_renew
latest_is_cancel
latest_membership_expire_date
latest_payment_plan_days
latest_plan_list_price
latest_transaction_date
msno
num_100_mean_201609
num_100_mean_201610
num_100_mean_201611
num_100_mean_201612
num_100_mean_201701
num_100_mean_201702
num_100_std_201609
num_100_std_201610
num_100_std_201611
num_100_std_201612
num_100_std_201701
num_100_std_201702
num_25_mean_201609
num_25_mean_201610
num_25_mean_201611
num_25_mean_201612
num_25_mean_201701
num_25_mean_201702
num_25_std_201609
num_25_std_201610
num_25_std_201611
num_25_std_201612
num_25_std_201701
num_25_std_201702
num_50_mean_201609
num_50_mean_201610
num_50_mean_201611
num_50_mean_201612
num_50_mean_201701
num_50_mean_201702
num_50_std_201609
num_50_std_201610
num_50_std_201611
num_50_std_201612
num_50_std_201701
num_50_std_201702
num_75_mean_201609
num_75_mean_201610
num_75_mean_201611
num_75_mean_201612
num_75_mean_201701
num_75_mean_201702
num_75_std_201609
num_75_std_201610
num_75_std_201611
num_75_std_201612
num_75_std_201701
num_75_std_201702
num_985_mean_201609
num_985_mean_201610
num_985_mean_201611
num_985_mean_201612
num_985_mean_201701
num_985_mean_201702
num_985_std_201609
num_985_std_201610
num_985_std_201611
num_985_std_201612
num_985_std_201701
num_985_std_201702
num_unq_mean_201609
num_unq_mean_201610
num_unq_mean_201611
num_unq_mean_201612
num_unq_mean_201701
num_unq_mean_201702
num_unq_std_201609
num_unq_std_201610
num_unq_std_201611
num_unq_std_201612
num_unq_std_201701
num_unq_std_201702
payment_method_id_x
payment_method_id_y
registration_date
registration_dow
registration_month
registration_week
registration_year
total_secs_mean_201609
total_secs_mean_201610
total_secs_mean_201611
total_secs_mean_201612
total_secs_mean_201701
total_secs_mean_201702
total_secs_std_201609
total_secs_std_201610
total_secs_std_201611
total_secs_std_201612
total_secs_std_201701
total_secs_std_201702

In [16]:
churn_df.groupby(['is_churn'])['is_churn'].count()

is_churn
0    782529
1     27549
Name: is_churn, dtype: int64

In [18]:
churn_df.is_churn.value_counts()

0    782529
1     27549
Name: is_churn, dtype: int64